@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

#scrollToTopBtn {
    transition: opacity 0.3s, visibility 0.3s;
}

#scrollToTopBtn.show {
    visibility: visible;
    opacity: 1;
}

#scrollToTopBtn.hide {
    visibility: hidden;
    opacity: 0;
}